
.header {
    background-color: rgba(235, 118, 196, 0.8);
    height: 72px;
}
.manu-item ul {
    text-align: center;
}
.manu-item ul li{
    display: inline-block;
    padding-left: -5px;
}
.manu-item ul li a{
    text-decoration: none;
    color: #fafafa;
    font-size: 20px;
    padding: 10px 10px;
    transition: .4s;
   
}
.manu-item ul li a:hover {
    background-color: #fafafa;
    color: #000000;
    border-radius: 5px;
    text-decoration: underline;   
}


/* banner-sec */
.banner-sec {
    /* background-image: url('./1227332-download-free-pink-laptop-wallpapers-1920x1200-for-ipad.jpg'); */
    background-size: cover;
    background-position: center;
    height: 300px;
    
}

.banner-text {
    display: inline-block;
}

.banner-text h1 {
    
    padding: 10px 25px;
    border-radius: 4px;
}

.banner-text p {
    
    padding: 10px 25px;
    border-radius: 4px;
}